@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------------------------- INICIO ------------------------------------------- */
/*Menú*/
.bg__inicio {
  height: 200vmax;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #64bfe6 50%, #f871eb 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.navbar {
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  border-bottom: #f580ed 1px solid;
}

.navbar1 {
  --bs-nav-link-font-weight: 400;
  font-weight: 400;
}

.navbar-nav {
  --bs-nav-link-hover-color: #f580ed;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  font-weight: 600;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav li {
  padding-right: 20px;
}

.navbar-brand img {
  width: 130px;
}

/* Sección Sobre Mí */
@font-face {
  font-family: 'Brush King';
  src: url(/fonts/brushKing.otf);
}

@font-face {
  font-family: 'Daisy Days';
  src: url(/fonts/daisyDays.ttf);
}

@font-face {
  font-family: 'Gruffly';
  src: url(/fonts/Gruffly.ttf);
}

.contenedor__inicio1 {
  margin-left: 0;
  padding-left: 0;
}

.imagen__inicio {
  border-bottom-right-radius: 20px;
  position: relative;
  overflow: hidden;
  top: 0;
  width: 600px;
}

.titulo__inicio {
  font-family: 'Gruffly';
  font-size: 200px;
  line-height: 1.1em;
  position: absolute;
  margin-top: 50px;
  left: 450px;
  color: white;
  text-align: right;
}

.punto__inicio {
  color: #fcc7f7;
}

.sobreMi__inicio {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 80%;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: justify;
}

.sobreMi__inicio span {
  font-weight: 900;
}

.video__inicio {
  width: 70%;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 20px;
}

.redes__inicio {
  background: white;
  height: auto;
  padding: 30px;
  width: 100%;
  margin-top: 100px;
}

.contenedor__inicio {
  margin-top: 50px;
  width: 100%;
}

.redes__titulo {
  font-size: 4rem;
  font-family: 'Gruffly', cursive;
  margin-left: 0%;
}

.redes__instagram {
  font-size: 3rem;
}

.redes__imagen {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.fa-instagram {
  font-size: 30px;
}

.card-body {
  background-color: #fcc7f7;
  font-family: 'Montserrat', sans-serif;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card {
  border-color: transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
  border: none;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.card-title {
  padding-bottom: 20px;
  text-align: right;
}

.card img {
  height: 300px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: transparent;
}

.card-text {
  height: 150px;
}

.tarjetas__inicio {
  margin-top: 40px;
  gap: 20px;
}

.tarjetas__contenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.tarjetas__boton {
  padding: 10px 30px;
  background-color: #fcbcf1;
  border-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  transition: all 1s;
}

.tarjetas__boton:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.btn-primary {
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #ffffff;
  color: black;
}

.btn-check:focus + .btn,
.btn:focus {
  background-color: #fcbcf1;
  border-color: white;
  color: black;
  --bs-btn-focus-shadow-rgb: none;
}

.seguime__inicio {
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  color: white;
}

.seguime__redes {
  background-color: white;
  padding: 50px 0;
  text-align: center;
}

.seguime__redes i {
  font-size: 40px;
  margin: 20px;
  color: #000000;
  transition: all .5s;
}

.seguime__redes i:hover {
  color: #da78f8;
}

@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-bob .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-bob:hover .hvr-icon,
.hvr-icon-bob:focus .hvr-icon,
.hvr-icon-bob:active .hvr-icon {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  font-size: 40px;
  position: relative;
  left: 100%;
  animation: marquee 30s linear infinite;
  font-weight: 200;
}

.marquee:hover span {
  animation-play-state: running;
}

.marquee span:nth-child(1) {
  animation-delay: 0s;
}

.marquee span:nth-child(2) {
  animation-delay: 0.8s;
}

.marquee span:nth-child(3) {
  animation-delay: 1.6s;
}

.marquee span:nth-child(4) {
  animation-delay: 2.4s;
}

.marquee span:nth-child(5) {
  animation-delay: 3.2s;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.boton__contenedor {
  position: fixed;
  z-index: 999;
  transition: ease 0.3s;
  bottom: 5px;
  right: 5px;
  /* animation: efecto 1.5s infinite; */
  border-radius: 100%;
  /* background-color: rgb(252, 199, 247); */
  display: flex;
  flex-direction: row-reverse;
}

.boton__contenedor:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton__contenedor .boton--whatsapp {
  width: 55px;
  transition: ease 1s;
}

.boton--whatsapp:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Footer */
/* footer {
    background-color: white;
}

.footer__contenedor {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.footer__box {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__contenido {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__contenido1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
} */
/* .footer__logo img { */
/* Logo AP */
/* width: 150px; */
/* }

.footer__texto { */
/* Emprendimiento personal */
/* font-family: 'Poiret One', cursive;
    font-weight: 900;
    font-size: 18px;
    color: dimgray;
    text-align: justify;
    max-width: 300px;
    margin-top: 20px;
}

.footer__contenido1 h2 { */
/* Conectá Conmigo */
/* font-weight: 700;
    font-family: 'Poiret One', cursive;
    margin-bottom: 20px;
    font-size: 25px;
}
 */
/* .footer__box .fa-brands { */
/* Iconos Redes Sociales */
/*  margin-right: 10px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.footer__box .fa-envelope { */
/* Icono Email */
/* margin-right: 10px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.footer__box a:hover {
    opacity: 0.8;
}

.footer__box a {
    text-decoration: none;
    color: dimgray;
    font-size: 17px;
    max-width: 300px;
}

.footer__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;
}

.footer__copyright p { */
/* Antonela Poveda Arte - Argentina - © 2022 */
/*  font-family: 'Poiret One', cursive;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-weight: 800;
}

.footer__copyright hr { */
/* Línea divisoria */
/* border: none;
    height: 3px;
    background-color: rgb(255, 162, 255);
    opacity: 1;
} */
footer {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.text-muted {
  padding-right: 0px;
  padding-left: 20px;
}

.footer__logo {
  width: 100px;
}

.footer__links {
  padding-right: 20px;
}

/* ------------------------------------------- MI ARTE ------------------------------------------- */
/* Menú */
.miArte__titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-shadow: 4px 4px #21f3fa;
  font-weight: 800;
}

.miArte__linea {
  border-top: 1px solid #ffa2ff;
  height: 0;
  padding-top: 0;
  padding-bottom: 60px;
  margin: 0 500px 0 500px;
}

.miArte__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
  background-color: #EFF3F5;
}

.miArte__imagenes img {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 0 1px silver;
  display: block;
  height: 100%;
}

.miArte__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fcc7f7;
  overflow: auto;
}

.miArte__imagenes {
  flex: 25%;
  padding: 5px;
}

.miArte__imagen1 {
  position: relative;
}

.miArte__imagen2 {
  position: relative;
}

.miArte__imagen3 {
  position: relative;
}

.miArte__imagen4 {
  position: relative;
}

.miArte__imagen5 {
  position: relative;
}

.miArte__imagen6 {
  position: relative;
}

.miArte__imagen7 {
  position: relative;
}

.miArte__imagen8 {
  position: relative;
}

.miArte__imagen9 {
  position: relative;
}

.miArte__imagen10 {
  position: relative;
}

.miArte__imagen11 {
  position: relative;
}

.miArte__imagen12 {
  position: relative;
}

.miArte__imagen13 {
  position: relative;
}

.miArte__imagen14 {
  position: relative;
}

.miArte__imagen15 {
  position: relative;
}

.miArte__imagen16 {
  position: relative;
}

.miArte__imagen17 {
  position: relative;
}

.miArte__imagen3 {
  height: 100%;
  width: 100%;
}

.miArte__imagen4 {
  height: 100%;
  width: 100%;
}

.miArte__imagen5 {
  height: 100%;
  width: 100%;
}

.miArte__imagen8 {
  height: 100%;
  width: 100%;
}

.miArte__imagen12 {
  height: 100%;
  width: 100%;
}

.miArte__imagen13 {
  height: 100%;
  width: 100%;
}

.miArte__imagen14 {
  height: 100%;
  width: 100%;
}

.miArte__imagen15 {
  height: 100%;
  width: 100%;
}

.miArte__imagen16 {
  height: 100%;
  width: 100%;
}

.miArte__imagen17 {
  height: 100%;
  width: 100%;
}

.miArte__imagen1:hover .miArte__overlay {
  opacity: .9;
}

.miArte__imagen5:hover .miArte__overlay {
  opacity: 0.9;
}

.miArte__imagen6:hover .miArte__overlay {
  opacity: 0.9;
}

.miArte__imagen7:hover .miArte__overlay {
  opacity: .9;
}

.miArte__imagen9:hover .miArte__overlay {
  opacity: .9;
}

.miArte__imagen10:hover .miArte__overlay {
  opacity: .9;
}

.miArte__imagen11:hover .miArte__overlay {
  opacity: .9;
}

.miArte__imagen16:hover .miArte__overlay {
  opacity: .9;
}

.miArte__imagen2:hover .miArte__imagen--mate1 {
  opacity: 1;
  visibility: visible;
}

.miArte__imagen3:hover .miArte__imagen--gaucho {
  opacity: 1;
  visibility: visible;
  object-fit: cover;
}

.miArte__imagen4:hover .miArte__imagen--cuenco {
  opacity: 1;
  visibility: visible;
  object-fit: cover;
}

.miArte__imagen8:hover .miArte__imagen--abstracto {
  opacity: 1;
  visibility: visible;
  object-fit: cover;
}

.miArte__imagen12:hover .miArte__imagen--mate {
  opacity: 1;
  visibility: visible;
}

.miArte__imagen13:hover .miArte__imagen--perro4 {
  opacity: 1;
  visibility: visible;
  object-fit: cover;
}

.miArte__imagen14:hover .miArte__imagen--perro3 {
  opacity: 1;
  visibility: visible;
}

.miArte__imagen15:hover .miArte__imagen--mate2 {
  opacity: 1;
  visibility: visible;
  object-fit: cover;
}

.miArte__imagen17:hover .miArte__imagen--perro2 {
  opacity: 1;
  visibility: visible;
  object-fit: cover;
}

.miArte__imagen--mate {
  visibility: hidden;
  position: absolute;
  top: -5px;
  transition: 1s ease;
  opacity: 0;
}

.miArte__imagen--mate1 {
  visibility: hidden;
  position: absolute;
  top: -5px;
  transition: 1s ease;
  opacity: 0;
}

.miArte__imagen--mate2 {
  visibility: hidden;
  position: absolute;
  top: -5px;
  transition: 1s ease;
  opacity: 0;
  object-fit: cover;
}

.miArte__imagen--perro2 {
  visibility: hidden;
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  opacity: 0;
  object-fit: cover;
}

.miArte__imagen--perro3 {
  visibility: hidden;
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  opacity: 0;
}

.miArte__imagen--perro4 {
  visibility: hidden;
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  opacity: 0;
  object-fit: cover;
}

.miArte__imagen--abstracto {
  visibility: hidden;
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  opacity: 0;
  object-fit: cover;
}

.miArte__imagen--gaucho {
  visibility: hidden;
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  opacity: 0;
  object-fit: cover;
}

.miArte__imagen--cuenco {
  visibility: hidden;
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  opacity: 0;
  object-fit: cover;
}

.miArte__texto {
  color: black;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  letter-spacing: 0px;
  /* 0.9 antes de bootstrap */
}

.miArte__comentarios {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #e1e8eb;
}

.miArte__subtitulo {
  font-family: 'Poiret One', cursive;
  padding-top: 10px;
}

.form-floating {
  font-family: 'Montserrat', cursive;
  font-weight: 500;
  font-size: 15px;
  height: 100%;
}

.form-floating > label {
  left: 5px;
  letter-spacing: 2px;
}

#floatingTextarea2 {
  margin-left: 10px;
  font-weight: 800;
  border-radius: 0;
  border: #a6d0e4 solid 2px;
  background-color: #fefffd;
}

.btn1 {
  color: black;
  background-color: #ffa2ff;
  width: 200px;
  border: none;
  font-family: 'Montserrat', cursive;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px;
}

.btn1:active {
  background-color: #fd3efd;
}

/* ------------------------------------------- PEDIDOS ------------------------------------------- */
.pedidos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EFF3F5;
}

.pedidos__contenedor {
  font-family: 'Montserrat', cursive;
  padding-bottom: 40px;
  background-color: #EFF3F5;
  padding-top: 60px;
}

.pedidos__pregunta {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #a6cada;
  padding-bottom: 20px;
  text-transform: uppercase;
  width: 700px;
  letter-spacing: 2px;
  color: #4b4a4a;
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: 600;
}

.pedidos__respuesta {
  margin-bottom: 50px;
  list-style: none;
  font-size: 1em;
  letter-spacing: 0.9px;
  text-align: justify;
}

.pedidos__titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Montserrat', cursive;
  font-size: 60px;
  text-shadow: 4px 4px #21f3fa;
}

.pedidos__linea {
  border-top: 1px solid #ffa2ff;
  height: 0;
  padding-top: 0;
  padding-bottom: 60px;
  margin: 0 500px 0 500px;
}

.pedidos__respuesta li:hover {
  background: none;
}

.pedidos__video {
  background-color: #a6cada;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 25px;
  animation: efecto 1.5s infinite;
}

.pedidos__video video {
  height: 550px;
}

.pedidos__video video {
  transition: ease 1s;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 #a6cada;
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

/* ------------------------------------------- PREGUNTAS FRECUENTES ------------------------------------------- */
.prefre__titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-shadow: 4px 4px #21f3fa;
  font-weight: 800;
}

.prefre__linea {
  border-top: 1px solid #ffa2ff;
  height: 0;
  padding-top: 0;
  padding-bottom: 60px;
  margin: 0 500px 0 500px;
}

.prefre__contenedor {
  max-width: 1400px;
  margin: auto;
  background-color: #EFF3F5;
  padding-bottom: 20px;
  padding-top: 20px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prefre__padre {
  margin: 20px;
  perspective: 1000px;
}

.prefre {
  width: 350px;
  height: 400px;
  background-color: #a6cada;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border-radius: 10px;
}

.prefre__frontal--pregunta,
.prefre__reverso--respuesta {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  letter-spacing: 0;
  /* 0.9 antes de Bootstrap */
}

.prefre__frontal--pregunta {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  text-shadow: 4px 2px 1px #59deff;
  font-family: 'Montserrat', cursive;
}

.prefre__reverso--respuesta {
  text-align: justify;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Montserrat', cursive;
}

.prefre__pregunta {
  font-size: 1.4em;
  font-weight: 600;
}

.prefre__respuesta {
  font-size: 1.1em;
}

.prefre__respuesta,
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.prefre__respuesta ul,
li {
  /* line-height: 1.4em; */
  padding-bottom: 3px;
}

.prefre__reverso--respuesta {
  transform: rotateY(180deg);
  background: white;
}

.prefre__respuesta li:hover {
  background: none;
}

.prefre__padre:hover .prefre {
  transform: rotateY(180deg);
}

.btn-secondary {
  visibility: visible;
}

.btn2 {
  border: none;
  background-color: transparent;
}

.btn2:hover {
  padding-left: 10px;
}

.custom-tooltip {
  --bs-tooltip-bg: rgb(236, 233, 233);
  --bs-tooltip-color: black;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: normal;
}

/* ------------------------------------------- RESEÑAS ------------------------------------------- */
.reseñas {
  background-color: #EFF3F5;
}

.reseñas__titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-shadow: 4px 4px #21f3fa;
  font-weight: 800;
}

.reseñas__linea {
  border-top: 1px solid #ffa2ff;
  height: 0;
  padding-top: 0;
  padding-bottom: 60px;
  margin: 0 500px 0 500px;
}

.accordion {
  background-color: #EFF3F5;
  padding-bottom: 70px;
  padding-top: 70px;
}

.accordion-header {
  font-family: 'Pacifico', cursive;
}

.accordion-button {
  font-size: 1.2rem;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #8ac8f1;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.accordion-body {
  font-family: 'Montserrat', cursive;
  font-size: 1.1rem;
  margin: 20px;
  line-height: 30px;
}

.reseñas__texto {
  text-align: justify;
}

.reseñas__autor {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #4b4a4a;
  font-weight: 500;
  text-align: right;
  display: block;
}

/* ------------------------------------------- CONTÁCTAME ------------------------------------------- */
.contacto__titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-shadow: 4px 4px #21f3fa;
  font-weight: 800;
}

.contacto__linea {
  border-top: 1px solid #ffa2ff;
  height: 0;
  padding-top: 0;
  padding-bottom: 60px;
  margin: 0 500px 0 500px;
}

.contacto__redes {
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto__email,
.contacto__instagram,
.contacto__whatsapp {
  width: 300px;
  position: relative;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.contacto__redes:hover {
  box-shadow: 1px 1px 1px -10px black;
}

.contacto__email:hover .contacto__icon {
  background-color: #DD4825;
}

.contacto__email .contacto__icon i {
  color: #DD4825;
}

.contacto__email:hover .contacto__icon i {
  color: white;
}

.contacto__instagram:hover .contacto__icon {
  background-color: #a752f7;
}

.contacto__instagram .contacto__icon i {
  color: #a752f7;
}

.contacto__instagram:hover .contacto__icon i {
  color: white;
}

.contacto__whatsapp:hover .contacto__icon {
  background-color: #5ef8a3;
}

.contacto__whatsapp .contacto__icon i {
  color: #5ef8a3;
}

.contacto__whatsapp:hover .contacto__icon i {
  color: white;
}

.contacto__icon {
  width: 100%;
  height: 220px;
  background-color: #EFF3F5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 10px;
}

.contacto__icon i {
  font-size: 150px;
  color: white;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.contacto__info {
  width: 100%;
  height: 220px;
  color: black;
  background-color: #EFF3F5;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacto__email:hover .contacto__info {
  margin-top: 0;
  transition: all 300ms;
  border-radius: 0px 0px 10px 10px;
}

.contacto__instagram:hover .contacto__info {
  margin-top: 0;
  transition: all 300ms;
  border-radius: 0px 0px 10px 10px;
}

.contacto__whatsapp:hover .contacto__info {
  margin-top: 0;
  transition: all 300ms;
  border-radius: 0px 0px 10px 10px;
}

.contacto__email:hover .contacto__icon {
  margin-top: -110px;
  border-radius: 10px 10px 0 0px;
}

.contacto__instagram:hover .contacto__icon {
  margin-top: -110px;
  border-radius: 10px 10px 0 0px;
}

.contacto__whatsapp:hover .contacto__icon {
  margin-top: -110px;
  border-radius: 10px 10px 0 0px;
}

.contacto__info p {
  font-size: 1em;
  text-align: center;
}

.contacto__info input {
  margin-top: 20px;
  padding: 10px 20px;
  /* background-color: rgb(252, 199, 247); */
  font-size: 1em;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: 'Montserrat', cursive;
  font-weight: 600;
  cursor: none;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 60px;
  padding-bottom: 50px;
}

.color-change-3x {
  animation: color-change-3x 10s linear infinite alternate both;
}

@keyframes color-change-3x {
  0% {
    background: #b0f6f2;
  }
  50% {
    background: #e6d8fa;
  }
  100% {
    background: #c7f6d4;
  }
}

.formulario__subtitulo {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  padding: 30px 0;
  text-shadow: 4px 4px white;
}

.formulario__item {
  font-family: 'Poiret One', cursive;
}

.formulario__item input,
textarea {
  color: black;
  width: 500px;
  padding: 20px;
  margin: 10px;
  border: none;
  font-family: 'Montserrat', cursive;
}

button, input, optgroup, select, textarea {
  font-size: 15px;
  line-height: normal;
}

.formulario__enviar .btn3 {
  color: black;
  background-color: #ffa2ff;
  width: 500px;
  padding: 20px;
  margin: 5px;
  border: none;
  font-family: 'Montserrat', cursive;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.formulario__item input:hover,
textarea:hover {
  background-color: #ddfcff;
}

.formulario__enviar .btn3:active {
  background-color: #fd3efd;
}

/* MEDIA QUERY TABLET */
@media (min-width: 601px) and (max-width: 767px) {
  /* MENÚ */
  .nav-item {
    text-align: right;
  }
  .boton__contenedor .boton--whatsapp {
    display: none;
  }
  /* FOOTER */
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .footer__links {
    display: none;
  }
  .footer__logo {
    width: 100px;
  }
  .text-muted {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  /* INICIO */
  .navbar-brand img {
    width: 100px;
  }
  .imagen__inicio {
    width: 100%;
    display: inline-block;
  }
  .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo__inicio {
    font-size: 70px;
    left: 30%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  .sobreMi__inicio {
    margin-right: 0;
    margin: auto;
    padding-top: 200px;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
    width: 90%;
  }
  .redes__inicio {
    background: white;
    height: auto;
    padding: 0;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .col-3 {
    width: auto;
  }
  .col-5 {
    width: 100%;
  }
  .redes__titulo {
    font-size: 2.4rem;
    font-family: 'Gruffly', cursive;
    margin-left: 0%;
  }
  .redes__imagen {
    display: none;
  }
  .tarjetas__inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video__inicio {
    width: 95%;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .tarjetas__inicio {
    margin-top: 20px;
    gap: 20px;
  }
  .tarjetas__boton {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .seguime__redes {
    padding: 30px 0;
  }
  .seguime__redes i {
    font-size: 30px;
  }
  /* MI ARTE */
  .miArte__titulo {
    font-size: 50px;
  }
  .miArte__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .miArte__contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .miArte__imagenes {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    width: 80%;
  }
  .miArte__imagenes img {
    margin-top: 6px;
  }
  .miArte__overlay {
    height: auto;
    width: 100%;
    margin-top: 0;
  }
  .miArte__comentarios {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .miArte__texto {
    font-size: 22px;
    letter-spacing: .9px;
  }
  .col-6 {
    width: 80%;
  }
  .form-floating {
    width: 90%;
  }
  #floatingTextarea2 {
    margin: auto;
    margin-top: 20px;
  }
  .btn1 {
    margin-top: 10px;
    width: 20%;
  }
  .form-floating > label {
    left: 5px;
    top: 10px;
  }
  .miArte__subtitulo {
    margin-bottom: 20px;
    text-align: center;
  }
  /* PEDIDOS */
  .pedidos__titulo {
    font-size: 50px;
  }
  .pedidos__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .pedidos__video video {
    height: 450px;
  }
  .pedidos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .pedidos__contenedor {
    height: 100%;
    width: 95%;
  }
  .pedidos__pregunta {
    width: auto;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
    text-align: center;
  }
  .pedidos__respuesta {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
  }
  .pedidos__respuesta li {
    line-height: 1.3em;
    width: 90%;
  }
  /* PREGUNTAS FRECUENTES */
  .prefre__titulo {
    font-size: 50px;
  }
  .prefre__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .prefre__padre {
    width: auto;
  }
  .prefre {
    width: 250px;
    height: 350px;
    background-color: #a6cada;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
    border-radius: 10px;
  }
  .prefre__frontal--pregunta {
    text-align: center;
    padding: 10px;
  }
  .prefre__reverso--respuesta {
    text-align: center;
    padding: 10px;
    padding-top: 15px;
  }
  .prefre__pregunta {
    font-size: 1.3em;
    font-weight: 600;
  }
  .prefre__respuesta {
    font-size: .9em;
  }
  /* RESEÑAS */
  .reseñas__titulo {
    font-size: 50px;
  }
  .reseñas__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .col-8 {
    width: auto;
    margin: 0 50px;
  }
  .accordion-body {
    font-size: 1rem;
    line-height: 25px;
  }
  /* CONTACTO */
  .contacto__titulo {
    font-size: 50px;
  }
  .contacto__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .contacto__redes {
    max-width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .contacto__email {
    width: 80%;
    margin: 10px 5px;
  }
  .contacto__instagram {
    width: 80%;
    margin: 10px 5px;
  }
  .contacto__whatsapp {
    width: 80%;
    margin: 10px 5px;
  }
  .contacto__icon {
    width: 190px;
    height: 210px;
  }
  .contacto__icon i {
    font-size: 120px;
    color: white;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  }
  .contacto__info {
    width: 190px;
    height: 210px;
  }
  .contacto__info p {
    font-size: 1em;
    text-align: center;
    letter-spacing: normal;
    line-height: 20px;
  }
  .contacto__info input {
    padding: 10px 10px;
    font-size: .7em;
  }
  .formulario {
    margin-top: 40px;
  }
  .formulario__subtitulo {
    font-size: 30px;
  }
  .formulario__item {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
  .formulario__item input,
  textarea {
    width: auto;
    padding: 15px;
    margin: 5px;
  }
  .formulario__enviar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
  }
  .formulario__enviar .btn3 {
    width: auto;
    padding: 15px;
    margin: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* MENÚ */
  .nav-item {
    text-align: right;
  }
  .boton__contenedor .boton--whatsapp {
    display: none;
  }
  /* FOOTER */
  .footer {
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
  }
  .footer__links {
    display: none;
  }
  .footer__logo {
    width: 100px;
    margin-bottom: 16px;
  }
  .me-md-auto {
    margin-right: inherit !important;
  }
  .text-muted {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .col-md-5 {
    width: 100%;
  }
  /* INICIO */
  .navbar-brand img {
    width: 100px;
  }
  .imagen__inicio {
    width: 700px;
    display: inline-block;
  }
  .titulo__inicio {
    font-size: 70px;
    left: 6%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .sobreMi__inicio {
    margin-right: 0;
    margin: auto;
    padding-top: 200px;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
    width: 90%;
  }
  .redes__inicio {
    background: white;
    height: auto;
    padding: 0;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .col-3 {
    width: auto;
  }
  .col-5 {
    width: 100%;
  }
  .redes__titulo {
    font-size: 2.6rem;
    font-family: 'Gruffly', cursive;
    margin-left: 0%;
    margin-bottom: 30px;
  }
  .redes__imagen {
    display: none;
  }
  .tarjetas__inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video__inicio {
    width: 95%;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .tarjetas__inicio {
    margin-top: 20px;
    gap: 20px;
  }
  .tarjetas__boton {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .seguime__redes {
    padding: 30px 0;
  }
  .seguime__redes i {
    font-size: 30px;
  }
  /* MI ARTE */
  .miArte__titulo {
    font-size: 60px;
  }
  .miArte__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .miArte__contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    height: 100%;
  }
  .miArte__imagenes {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    width: 60%;
  }
  .miArte__imagenes img {
    margin-top: 6px;
  }
  .miArte__overlay {
    height: auto;
    width: 100%;
    margin-top: 0;
  }
  .miArte__subtitulo h2 {
    font-size: 25px;
    text-align: center;
  }
  .miArte__comentarios {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .miArte__texto {
    font-size: 23px;
    letter-spacing: .9px;
  }
  .d-flex {
    flex-direction: column;
  }
  .col-6 {
    width: 60%;
  }
  #floatingTextarea2 {
    margin: auto;
    margin-top: 50px;
  }
  .btn1 {
    margin-top: 10px;
    width: 20%;
  }
  /* PEDIDOS */
  .pedidos__titulo {
    font-size: 60px;
  }
  .pedidos__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .pedidos__video video {
    height: 450px;
  }
  .pedidos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .pedidos__contenedor {
    height: 100%;
    width: 95%;
  }
  .pedidos__pregunta {
    width: auto;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
    text-align: center;
  }
  .pedidos__respuesta {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
  }
  .pedidos__respuesta li {
    line-height: 1.3em;
    width: 90%;
  }
  /* PREGUNTAS FRECUENTES */
  .prefre__titulo {
    font-size: 60px;
  }
  .prefre__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .prefre__padre {
    width: auto;
  }
  .prefre {
    width: 230px;
    height: 350px;
    background-color: #a6cada;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
    border-radius: 10px;
  }
  .prefre__frontal--pregunta {
    text-align: center;
    padding: 10px;
  }
  .prefre__reverso--respuesta {
    text-align: center;
    padding: 10px;
    padding-top: 15px;
  }
  .prefre__pregunta {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
  }
  .prefre__respuesta {
    font-size: .9em;
    text-align: center;
  }
  /* RESEÑAS */
  .reseñas__titulo {
    font-size: 60px;
  }
  .reseñas__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .col-8 {
    width: auto;
    margin: 0 80px;
  }
  .accordion-body {
    font-size: 1.1rem;
    line-height: 30px;
  }
  /* CONTACTO */
  .contacto__titulo {
    font-size: 60px;
  }
  .contacto__linea {
    border-top: 1px solid #ffa2ff;
    margin: 0 80px;
    margin-top: -25px;
  }
  .contacto__redes {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .contacto__email {
    width: 100%;
    margin: 10px 20px;
  }
  .contacto__instagram {
    width: 100%;
    margin: 10px 20px;
  }
  .contacto__whatsapp {
    width: 100%;
    margin: 10px 20px;
  }
  .contacto__icon {
    width: 220px;
    height: 220px;
  }
  .contacto__icon i {
    font-size: 120px;
    color: white;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  }
  .contacto__info {
    width: 220px;
    height: 220px;
  }
  .contacto__info p {
    font-size: 1em;
    text-align: center;
    letter-spacing: normal;
    line-height: 20px;
  }
  .contacto__info input {
    padding: 0 10px;
    font-size: .8em;
  }
  .formulario {
    margin-top: 40px;
  }
  .formulario__subtitulo {
    font-size: 30px;
  }
  .formulario__item {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
  .formulario__item input,
  textarea {
    width: auto;
    padding: 15px;
    margin: 5px;
  }
  .formulario__enviar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
  }
  .formulario__enviar .btn3 {
    width: auto;
    padding: 15px;
    margin: 5px;
  }
  .footer__box {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    /* padding-left: 80px; */
  }
  .footer__contenido {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
    align-content: center;
    margin-left: 50px;
  }
  .footer__contenido1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  .footer__logo img {
    /* Logo AP */
    width: 120px;
  }
  .footer__contenido .footer__texto {
    /* Emprendimiento personal */
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    font-size: 15px;
    color: dimgray;
    max-width: 90%;
    margin-top: 10px;
  }
  .footer__contenido1 h2 {
    /* Conectá Conmigo */
    font-weight: 700;
    font-family: 'Poiret One', cursive;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 22px;
  }
  .footer__box .fa-brands {
    /* Iconos Redes Sociales */
    margin-right: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 15px;
  }
  .footer__box .fa-envelope {
    /* Icono Email */
    margin-right: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 15px;
  }
  .footer__box a {
    text-decoration: none;
    color: dimgray;
    font-size: 15px;
  }
  .footer__copyright p {
    /* Antonela Poveda Arte - Argentina - © 2022 */
    font-family: 'Poiret One', cursive;
    margin-top: 15px;
    font-weight: 800;
    font-size: 15px;
  }
}

/* MEDIA QUERY CELULAR */
@media screen and (max-width: 600px) {
  /* MENÚ */
  .navbar-toggler-icon {
    color: none;
  }
  .nav-item {
    text-align: right;
  }
  .boton--whatsapp {
    display: none;
  }
  /* FOOTER */
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .footer__links {
    display: none;
  }
  .footer__logo {
    width: 100px;
  }
  .text-muted {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  /* INICIO */
  .navbar-brand img {
    width: 100px;
  }
  .imagen__inicio {
    width: 100%;
    display: inline-block;
  }
  .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo__inicio {
    font-size: 70px;
    left: 20%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  .sobreMi__inicio {
    margin-right: 0;
    margin: auto;
    padding-top: 200px;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
    width: 90%;
  }
  .redes__inicio {
    background: white;
    height: auto;
    padding: 0;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .col-5 {
    width: 100%;
  }
  .redes__titulo {
    font-size: 2.4rem;
    font-family: 'Gruffly', cursive;
    margin-left: 0%;
  }
  .redes__imagen {
    display: none;
  }
  .tarjetas__inicio {
    display: flex;
    flex-direction: column;
  }
  .video__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video__inicio {
    width: 95%;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container {
    width: auto;
  }
  .card {
    width: 90%;
  }
  .tarjetas__inicio {
    margin-top: 20px;
    gap: 20px;
  }
  .tarjetas__boton {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .seguime__redes {
    padding: 30px 0;
  }
  .seguime__redes i {
    font-size: 30px;
  }
  /* MI ARTE */
  .miArte__titulo {
    font-size: 40px;
  }
  .miArte__linea {
    border-top: 1.5px solid #ffa2ff;
    margin: 0 60px;
    margin-top: -25px;
  }
  .miArte__contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    height: 100%;
  }
  .miArte__imagenes {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
  }
  .miArte__imagenes img {
    margin-top: 10px;
  }
  .miArte__overlay {
    height: auto;
    width: 100%;
    margin-top: 0;
  }
  .miArte__imagen--mate {
    margin-top: 0;
    top: -10px;
  }
  .miArte__imagen--mate1 {
    margin-top: 0;
    top: -10px;
  }
  .miArte__imagen--mate2 {
    margin-top: 0;
    top: -10px;
  }
  .miArte__imagen--perro2 {
    margin-top: 0;
    top: auto;
  }
  .miArte__imagen--perro3 {
    margin-top: 0;
    top: auto;
  }
  .miArte__imagen--perro4 {
    margin-top: 0;
    top: auto;
  }
  .miArte__imagen--abstracto {
    margin-top: 0;
    top: auto;
  }
  .miArte__imagen--gaucho {
    margin-top: 0;
    top: auto;
  }
  .miArte__imagen--cuenco {
    margin-top: 0;
    top: auto;
  }
  .miArte__comentarios {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .miArte__texto {
    font-size: 20px;
    letter-spacing: .8px;
  }
  .col-6 {
    width: 90%;
  }
  .form-floating {
    width: 90%;
  }
  #floatingTextarea2 {
    margin: auto;
    margin-top: 20px;
  }
  .form-floating > label {
    left: 5px;
    top: 10px;
  }
  .btn1 {
    margin-top: 10px;
    width: 80%;
  }
  .miArte__subtitulo {
    margin-bottom: 20px;
    text-align: center;
  }
  /* PEDIDOS */
  .pedidos__titulo {
    font-size: 40px;
  }
  .pedidos__linea {
    border-top: 1.5px solid #ffa2ff;
    margin: 0 60px;
    margin-top: -25px;
  }
  .pedidos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .pedidos__video video {
    height: 400px;
  }
  .pedidos__contenedor {
    height: 100%;
    width: 95%;
    padding-bottom: 20px;
  }
  .pedidos__pregunta {
    text-align: center;
    width: auto;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
  }
  .pedidos__respuesta {
    margin-bottom: 50px;
    font-size: 1em;
    text-align: center;
    line-height: 1.3em;
  }
  .pedidos__respuesta li {
    line-height: 1.3em;
    width: 90%;
    text-align: center;
  }
  /* PREGUNTAS FRECUENTES */
  .prefre__titulo {
    font-size: 40px;
  }
  .prefre__linea {
    border-top: 1.5px solid #ffa2ff;
    margin: 0 60px;
    margin-top: -25px;
  }
  .prefre__padre {
    margin: 20px;
    perspective: 1000px;
    width: 80%;
  }
  .prefre {
    width: auto;
    height: 350px;
  }
  .prefre__frontal--respuesta {
    padding: 0;
  }
  .prefre__pregunta {
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;
  }
  .prefre__respuesta {
    font-size: .9em;
    text-align: center;
  }
  /* RESEÑAS */
  .reseñas__titulo {
    font-size: 40px;
  }
  .reseñas__linea {
    border-top: 1.5px solid #ffa2ff;
    margin: 0 60px;
    margin-top: -25px;
  }
  .col-8 {
    width: auto;
    margin: 0 10px;
  }
  .accordion-body {
    font-size: 1rem;
    line-height: 20px;
  }
  /* CONTACTO */
  .contacto__titulo {
    font-size: 40px;
  }
  .contacto__linea {
    border-top: 1.5px solid #ffa2ff;
    margin: 0 60px;
    margin-top: -25px;
  }
  .contacto__redes {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contacto__email {
    width: 100%;
    margin: 10px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto__instagram {
    width: 100%;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto__whatsapp {
    width: 100%;
    margin: 60px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto__icon {
    width: 220px;
    height: 220px;
  }
  .contacto__icon i {
    font-size: 100px;
    color: white;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  }
  .contacto__info {
    width: 220px;
    height: 220px;
  }
  .contacto__info p {
    font-size: 1em;
    text-align: center;
    letter-spacing: normal;
    line-height: 20px;
  }
  .contacto__info input {
    padding: 10px 10px;
    font-size: .8em;
  }
  .formulario {
    margin-top: 40px;
  }
  .formulario__subtitulo {
    font-size: 25px;
  }
  .formulario__item {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .formulario__item input,
  textarea {
    width: auto;
    padding: 15px;
    margin: 5px;
  }
  .formulario__enviar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
  }
  .formulario__enviar .btn3 {
    width: auto;
    padding: 15px;
    margin: 5px;
  }
}
