.boton__contenedor {
    position: fixed;
    z-index: 999;
    transition: ease 0.3s;
    bottom: 5px;
    right: 5px;
    /* animation: efecto 1.5s infinite; */
    border-radius: 100%;
    /* background-color: rgb(252, 199, 247); */
    display: flex;
    flex-direction: row-reverse;
}

.boton__contenedor:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.boton__contenedor .boton--whatsapp {
    width: 55px;
    transition: ease 1s;
}

.boton--whatsapp:hover {
    transform: scale(1.1);
    transition: 0.3s;
}