/* Footer */

footer { 
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.text-muted {
    padding-right: 0px;
    padding-left: 20px;
    color: white !important;
    font-weight: 200;
}

.footer__logo {
    width: 100px;
}

.footer__links {
    padding-right: 20px ;
}