/* MEDIA QUERY TABLET */

@media (min-width: 601px) and (max-width: 767px) {

    /* MENÚ */

    .logo img {
        width: 120px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .menu__lineas {
        display: block;
        font-size: 20px;
        margin-right: 10px;
    }

    .menu__lineas i {
        color: rgb(255, 162, 255);
    }

    .menu {
        display: none;
    }

    .menu .menu_enlaces:target {
        display: block;
    }

    .menu:target {
        display: block;
    }

    .menu__enlaces--cerrado {
        display: block;
    }

    .menu {
        background-color: white;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .menu__enlaces {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .menu .menu__enlaces li {
        font-size: 1.1em;
        margin: 0 10px;
        padding-top: 15px;
    }

    .menu__cerrar {
        margin-left: 20%;
        font-size: 25px;
        font-family: 'Permanent Marker', cursive;
        color: rgb(255, 162, 255);
    }

    .menu__enlaces li:hover {
        background: none;
    }

    .menu__enlaces .menu--activo a {
        background: none;
        border-bottom: 1px solid rgb(33, 243, 250);
        padding: 0;
        border-radius: 0;
    }

    .boton__contenedor .boton--whatsapp {
        display: none;
    }

    /* INICIO */

    .sobreMi__titulo {
        /* Hola, */
        font-size: 40px;
    }

    .sobreMi__titulo1 {
        /* soy Anto */
        font-size: 60px;
    }

    .sobreMi__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -10px;
    }

    .sobreMi__contenedor {
        /* Contenedor */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .sobreMi__texto {
        /* Texto */
        font-size: 1.2em;
        width: 95%;
        padding: 50px 20px;
        height: 300px;
        line-height: 140%;
        overflow: none;
        margin-right: 0;
        margin-bottom: 0;
    }

    .sobreMi__foto {
        /* Imagen */
        width: 95%;
        margin-top: 5px;
        height: 300px;
        object-fit: cover;
        margin-left: 0;
    }

    .miRinconcito__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 30px auto;
    }

    .miRinconcito__imagen {
        width: 95%;
        margin-bottom: -10px;
    }

    .miRinconcito__imagen1 {
        width: 95%;
        height: 100%;
        object-fit: cover;
    }

    .miRinconcito__titulo {
        font-size: 25px;
        height: 100%;
        width: 95%;
        line-height: 40px;
        padding: 10px;
        margin-bottom: -5px;
    }

    .btn {
        grid-area: a;
        text-align: center;
        border: none;
        font-family: 'Poiret One', cursive;
        text-decoration: none;
        font-size: 25px;
        color: black;
        background-color: #a6cada;
        font-weight: 900;
        border-radius: 10px;
        margin-top: -5px;
        padding: 30px 0 30px 0;
        align-self: center;
        box-shadow: 0 -6px 0 rgb(252, 199, 247);
        width: 95%;
    }

    /* MI ARTE */

    .miArte__titulo {
        font-size: 35px;
    }

    .miArte__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .miArte__contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .miArte__imagenes {
        padding-top: 0;
        margin-top: 0;
        height: 100%;
        width: 80%;
    }

    .miArte__imagenes img {
        margin-top: 6px;
    }

    .miArte__overlay {
        height: auto;
        width: 100%;
        margin-top: 0;
    }

    .miArte__comentarios {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .miArte__texto {
        font-size: 22px;
        letter-spacing: .9px;
    }

    .col-6 {
        width: 80%;
    }

    #floatingTextarea2 {
        margin: auto;
        margin-top: 20px;
    }

    .btn1 {
        margin-top: 10px;
        width: 20%;
    }

    .miArte__subtitulo {
        margin-bottom: 20px;
        text-align: center;
    }

    /* PEDIDOS */

    .pedidos__titulo {
        font-size: 35px;
    }

    .pedidos__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .pedidos__video video {
        height: 450px;
    }

    .pedidos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pedidos__contenedor {
        height: 100%;
        width: 95%;
    }

    .pedidos__pregunta {
        width: auto;
        letter-spacing: 5px;
        margin-bottom: 20px;
        font-size: 1.4em;
        text-align: center;
    }

    .pedidos__respuesta {
        margin-bottom: 50px;
        font-size: 1em;
        font-weight: 800;
        line-height: 1.3em;
        text-align: center;
    }

    .pedidos__respuesta li {
        line-height: 1.3em;
        width: 90%;
    }

    /* PREGUNTAS FRECUENTES */

    .prefre__titulo {
        font-size: 35px;
    }

    .prefre__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .prefre__padre {
        width: auto;
    }

    .prefre {
        width: 250px;
        height: 350px;
        background-color: #a6cada;
        position: relative;
        transform-style: preserve-3d;
        transition: all 600ms;
        border-radius: 10px;
    }

    .prefre__frontal--pregunta {
        text-align: center;
        padding: 10px;
    }

    .prefre__reverso--respuesta {
        text-align: center;
        padding: 10px;
        padding-top: 15px;
    }

    .prefre__pregunta {
        font-size: 1.5em;
        font-weight: 800;
    }
    
    .prefre__respuesta {
        font-size: .9em;
    }

    /* RESEÑAS */

    .reseñas__titulo {
        font-size: 35px;
    }

    .reseñas__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .col-8 {
        width: auto;
        margin: 0 50px;
    }

    .accordion-body {
    font-size: 1.1rem;
    line-height: 25px;
    }

    /* CONTACTO */

    .contacto__titulo {
        font-size: 35px;
    }

    .contacto__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .contacto__redes {
        max-width: 90%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .contacto__email {
        width: 80%;
        margin: 10px 5px;
    }

    .contacto__instagram {
        width: 80%;
        margin: 10px 5px;
    }

    .contacto__whatsapp {
        width: 80%;
        margin: 10px 5px;
    }

    .contacto__icon {
        width: 190px;
        height: 210px;
    }

    .contacto__icon i {
        font-size: 120px;
        color: white;
        transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    }

    .contacto__info {
        width: 190px;
        height: 210px;
    }

    .contacto__info p {
        font-size: 1em;
        text-align: center;
        letter-spacing: 0.8px;
        line-height: 25px;
    }

    .contacto__info input {
        padding: 0px 10px;
        font-size: .8em;
    }

    .formulario {
        margin-top: 40px;
    }

    .formulario__subtitulo {
        font-size: 30px;
    }

    .formulario__item {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .formulario__item input,
    textarea {
        width: auto;
        padding: 15px;
        margin: 5px;
    }

    .formulario__enviar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
    }

    .formulario__enviar .btn3 {
        width: auto;
        padding: 15px;
        margin: 5px;
    }

    .footer__box {
        font-family: 'Poiret One', cursive;
        font-weight: 900;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-items: space-between;
        /* padding-left: 80px; */
    }

    .footer__contenido {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: space-between;
        align-content: center;
        margin-left: 50px;
    }

    .footer__contenido1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .footer__logo img {
        /* Logo AP */
        width: 120px;
    }

    .footer__contenido .footer__texto {
        /* Emprendimiento personal */
        font-family: 'Poiret One', cursive;
        font-weight: 900;
        font-size: 15px;
        color: dimgray;
        max-width: 90%;
        margin-top: 10px;
    }

    .footer__contenido1 h2 {
        /* Conectá Conmigo */
        font-weight: 700;
        font-family: 'Poiret One', cursive;
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 22px;
    }

    .footer__box .fa-brands {
        /* Iconos Redes Sociales */
        margin-right: 10px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .footer__box .fa-envelope {
        /* Icono Email */
        margin-right: 10px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .footer__box a {
        text-decoration: none;
        color: dimgray;
        font-size: 15px;
    }

    .footer__copyright p {
        /* Antonela Poveda Arte - Argentina - © 2022 */
        font-family: 'Poiret One', cursive;
        margin-top: 15px;
        font-weight: 800;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* MENÚ */

    .logo img {
        width: 120px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .menu .menu__enlaces li {
        list-style: none;
        padding: 10px 5px 10px 10px;
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
    }

    .boton__contenedor .boton--whatsapp {
        display: none;
    }

    /* INICIO */

    .sobreMi__titulo {
        /* Hola, */
        font-size: 35px;
    }

    .sobreMi__titulo1 {
        /* soy Anto */
        font-size: 65px;
    }

    .sobreMi__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -10px;
    }

    .sobreMi__contenedor {
        /* Contenedor */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .sobreMi__texto {
        /* Texto */
        font-size: 1.2em;
        width: 95%;
        padding: 50px 20px;
        height: 300px;
        line-height: 140%;
        overflow: none;
        margin-right: 0;
        margin-bottom: 0;
    }

    .sobreMi__foto {
        /* Imagen */
        width: 95%;
        margin-top: 5px;
        height: 300px;
        object-fit: cover;
        margin-left: 0;
    }

    .miRinconcito__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 30px auto;
    }

    .miRinconcito__imagen {
        width: 95%;
        margin-bottom: -10px;
    }

    .miRinconcito__imagen1 {
        width: 95%;
        height: 100%;
        object-fit: cover;
    }

    .miRinconcito__titulo {
        font-size: 25px;
        height: 100%;
        width: 95%;
        line-height: 40px;
        padding: 10px;
        margin-bottom: -5px;
    }

    .btn {
        grid-area: a;
        text-align: center;
        border: none;
        font-family: 'Poiret One', cursive;
        text-decoration: none;
        font-size: 25px;
        color: black;
        background-color: #a6cada;
        font-weight: 900;
        border-radius: 10px;
        margin-top: -5px;
        padding: 30px 0 30px 0;
        align-self: center;
        box-shadow: 0 -6px 0 rgb(252, 199, 247);
        width: 95%;
    }

    /* MI ARTE */

    .miArte__titulo {
        font-size: 35px;
    }

    .miArte__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .miArte__contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        height: 100%;
    }

    .miArte__imagenes {
        padding-top: 0;
        margin-top: 0;
        height: 100%;
        width: 60%;
    }

    .miArte__imagenes img {
        margin-top: 6px;
    }

    .miArte__overlay {
        height: auto;
        width: 100%;
        margin-top: 0;
    }

    .miArte__subtitulo h2 {
        font-size: 25px;
        text-align: center;
    }

    .miArte__comentarios {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .miArte__texto {
        font-size: 23px;
        letter-spacing: .9px;
    }

    .d-flex {
        flex-direction: column;
    }
    
    .col-6 {
        width: 60%;
    }

    #floatingTextarea2 {
        margin: auto;
        margin-top: 50px;
    }

    .btn1 {
        margin-top: 10px;
        width: 20%;
    }

    /* PEDIDOS */

    .pedidos__titulo {
        font-size: 35px;
    }

    .pedidos__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .pedidos__video video {
        height: 450px;
    }

    .pedidos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pedidos__contenedor {
        height: 100%;
        width: 95%;
    }

    .pedidos__pregunta {
        width: auto;
        letter-spacing: 5px;
        margin-bottom: 20px;
        font-size: 1.4em;
        text-align: center;
    }

    .pedidos__respuesta {
        margin-bottom: 50px;
        font-size: 1em;
        font-weight: 800;
        line-height: 1.3em;
        text-align: center;
    }

    .pedidos__respuesta li {
        line-height: 1.3em;
        width: 90%;
    }

    /* PREGUNTAS FRECUENTES */

    .prefre__titulo {
        font-size: 35px;
    }

    .prefre__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .prefre__padre {
        width: auto;
    }

    .prefre {
        width: 230px;
        height: 350px;
        background-color: #a6cada;
        position: relative;
        transform-style: preserve-3d;
        transition: all 600ms;
        border-radius: 10px;
    }

    .prefre__frontal--pregunta {
        text-align: center;
        padding: 10px;
    }

    .prefre__reverso--respuesta {
        text-align: center;
        padding: 10px;
        padding-top: 15px;
    }

    .prefre__pregunta {
        font-size: 1.5em;
        font-weight: 800;
        text-align: center;
    }
    
    .prefre__respuesta {
        font-size: .9em;
        text-align: center;
    }

    /* RESEÑAS */

    .reseñas__titulo {
        font-size: 35px;
    }

    .reseñas__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .col-8 {
        width: auto;
        margin: 0 80px
    }

    .accordion-body {
    font-size: 1.1rem;
    line-height: 30px;
    }

    /* CONTACTO */

    .contacto__titulo {
        font-size: 35px;
    }

    .contacto__linea {
        border-top: 2px solid rgb(255, 162, 255);
        margin: 0 80px;
        margin-top: -25px;
    }

    .contacto__redes {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .contacto__email {
        width: 100%;
        margin: 10px 20px;
    }

    .contacto__instagram {
        width: 100%;
        margin: 10px 20px;
    }

    .contacto__whatsapp {
        width: 100%;
        margin: 10px 20px;
    }

    .contacto__icon {
        width: 220px;
        height: 220px;
    }

    .contacto__icon i {
        font-size: 120px;
        color: white;
        transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    }

    .contacto__info {
        width: 220px;
        height: 220px;
    }

    .contacto__info p {
        font-size: 1em;
        text-align: center;
        letter-spacing: 0.9px;
        line-height: 25px;
    }

    .contacto__info input {
        padding: 0 10px;
        font-size: 1em;
    }

    .formulario {
        margin-top: 40px;
    }

    .formulario__subtitulo {
        font-size: 30px;
    }

    .formulario__item {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .formulario__item input,
    textarea {
        width: auto;
        padding: 15px;
        margin: 5px;
    }

    .formulario__enviar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
    }

    .formulario__enviar .btn3 {
        width: auto;
        padding: 15px;
        margin: 5px;
    }

    .footer__box {
        font-family: 'Poiret One', cursive;
        font-weight: 900;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-items: space-between;
        /* padding-left: 80px; */
    }

    .footer__contenido {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: space-between;
        align-content: center;
        margin-left: 50px;
    }

    .footer__contenido1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .footer__logo img {
        /* Logo AP */
        width: 120px;
    }

    .footer__contenido .footer__texto {
        /* Emprendimiento personal */
        font-family: 'Poiret One', cursive;
        font-weight: 900;
        font-size: 15px;
        color: dimgray;
        max-width: 90%;
        margin-top: 10px;
    }

    .footer__contenido1 h2 {
        /* Conectá Conmigo */
        font-weight: 700;
        font-family: 'Poiret One', cursive;
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 22px;
    }

    .footer__box .fa-brands {
        /* Iconos Redes Sociales */
        margin-right: 10px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .footer__box .fa-envelope {
        /* Icono Email */
        margin-right: 10px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .footer__box a {
        text-decoration: none;
        color: dimgray;
        font-size: 15px;
    }

    .footer__copyright p {
        /* Antonela Poveda Arte - Argentina - © 2022 */
        font-family: 'Poiret One', cursive;
        margin-top: 15px;
        font-weight: 800;
        font-size: 15px;
    }
}

/* MEDIA QUERY CELULAR */

@media screen and (max-width: 600px) {

    /* MENÚ */

    .logo img {
        width: 100px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .menu__lineas {
        display: block;
        font-size: 20px;
        margin-right: 10px;
    }

    .menu__lineas i {
        color: rgb(255, 162, 255);
    }

    .menu {
        display: none;
    }

    .menu:target {
        display: block;
    }

    .menu__enlaces--cerrado {
        display: block;
    }

    .menu {
        background-color: white;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .menu__enlaces {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .menu .menu__enlaces li {
        font-size: 1em;
        margin: 0 10px;
        padding-top: 10px;
    }

    .menu__cerrar {
        margin-left: 20%;
        font-size: 25px;
        font-family: 'Permanent Marker', cursive;
        color: rgb(255, 162, 255);
    }

    .menu__enlaces li:hover {
        background: none;
    }

    .menu__enlaces .menu--activo a {
        background: none;
        border-bottom: 1px solid rgb(33, 243, 250);
        padding: 0;
        border-radius: 0;
    }

    .boton__contenedor .boton--whatsapp {
        display: none;
    }

    /* INICIO */

    .sobreMi__titulo {
        /* Hola, */
        font-size: 40px;
    }

    .sobreMi__titulo1 {
        /* soy Anto */
        font-size: 60px;
    }

    .sobreMi__linea {
        border-top: 1px solid rgb(255, 162, 255);
        margin: 0 10px;
        margin-top: -10px;
    }

    .sobreMi__contenedor {
        /* Contenedor */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .sobreMi__texto {
        /* Texto */
        font-size: 1em;
        width: 95%;
        height: auto;
        line-height: 140%;
        margin-right: 0;
        padding: 20px 20px;
        margin-bottom: 0;
    }

    .sobreMi__foto {
        /* Imagen */
        width: 95%;
        margin-top: 5px;
        height: auto;
        object-fit: cover;
        margin-left: 0;
    }

    .miRinconcito__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 30px auto;
    }

    .miRinconcito__imagen {
        width: 95%;
        margin-bottom: -10px;
    }

    .miRinconcito__imagen1 {
        width: 95%;
        height: 100%;
        object-fit: cover;
    }

    .miRinconcito__titulo {
        font-size: 20px;
        height: 100%;
        width: 95%;
        line-height: 40px;
        padding: 10px;
        margin-bottom: -5px;
    }

    .btn {
        grid-area: a;
        text-align: center;
        border: none;
        font-family: 'Poiret One', cursive;
        text-decoration: none;
        font-size: 20px;
        color: black;
        background-color: #a6cada;
        font-weight: 900;
        border-radius: 10px;
        margin-top: -5px;
        padding: 30px 0 30px 0;
        align-self: center;
        box-shadow: 0 -6px 0 rgb(252, 199, 247);
        width: 95%;
    }

    /* MI ARTE */

    .miArte__titulo {
        font-size: 30px;
    }

    .miArte__linea {
        border-top: 1.5px solid rgb(255, 162, 255);
        margin: 0 60px;
        margin-top: -25px;
    }

    .miArte__contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        height: 100%;
    }

    .miArte__imagenes {
        padding-top: 0;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    .miArte__imagenes img {
        margin-top: 10px;
    }

    .miArte__overlay {
        height: auto;
        width: 100%;
        margin-top: 0;
    }

    .miArte__imagen--mate {
        margin-top: 0;
        top: -10px;
    }

    .miArte__imagen--mate1 {
        margin-top: 0;
        top: -10px;
    }

    .miArte__imagen--mate2 {
        margin-top: 0;
        top: -10px;
    }

    .miArte__imagen--perro2 {
        margin-top: 0;
        top: auto;
    }
    
    .miArte__imagen--perro3 {
        margin-top: 0;
        top: auto;
    }
    
    .miArte__imagen--perro4 {
        margin-top: 0;
        top: auto;
    }
    
    .miArte__imagen--abstracto {
        margin-top: 0;
        top: auto;
    }
    
    .miArte__imagen--gaucho {
       margin-top: 0;
       top: auto;
    }
    
    .miArte__imagen--cuenco {
        margin-top: 0;
        top: auto;
    }

    .miArte__comentarios {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .miArte__texto {
        font-size: 20px;
        letter-spacing: .8px;
    }

    .col-6 {
        width: 90%;
    }

    #floatingTextarea2 {
        margin: auto;
        margin-top: 20px;
    }

    .btn1 {
        margin-top: 10px;
        width: 90%;
    }

    .miArte__subtitulo {
        margin-bottom: 20px;
        text-align: center;
    }

    /* PEDIDOS */

    .pedidos__titulo {
        font-size: 30px;
    }

    .pedidos__linea {
        border-top: 1.5px solid rgb(255, 162, 255);
        margin: 0 60px;
        margin-top: -25px;
    }

    .pedidos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pedidos__video video {
        height: 400px;
    }

    .pedidos__contenedor {
        height: 100%;
        width: 95%;
    }

    .pedidos__pregunta {
        text-align: center;
        width: auto;
        letter-spacing: 5px;
        margin-bottom: 20px;
        font-size: 1.4em;
    }

    .pedidos__respuesta {
        margin-bottom: 50px;
        font-size: 1em;
        font-weight: 800;
        text-align: center;
        line-height: 1.3em;
    }

    .pedidos__respuesta li {
        line-height: 1.3em;
        width: 90%;
        text-align: center;
    }

    /* PREGUNTAS FRECUENTES */

    .prefre__titulo {
        font-size: 27px;
    }

    .prefre__linea {
        border-top: 1.5px solid rgb(255, 162, 255);
        margin: 0 60px;
        margin-top: -25px;
    }

    .prefre__padre {
        margin: 20px;
        perspective: 1000px;
        width: 80%;
    }

    .prefre {
        width: auto;
        height: 350px;
    }

    .prefre__frontal--respuesta {
        padding: 0;
    }

    .prefre__pregunta {
        font-size: 1.3em;
        font-weight: 800;
        text-align: center;
    }
    
    .prefre__respuesta {
        font-size: .9em;
        text-align: center;
    }

    /* RESEÑAS */

    .reseñas__titulo {
        font-size: 30px;
    }

    .reseñas__linea {
        border-top: 1.5px solid rgb(255, 162, 255);
        margin: 0 60px;
        margin-top: -25px;
    }

    .col-8 {
        width: auto;
        margin: 0 10px
    }

    .accordion-body {
    font-size: 1rem;
    line-height: 20px;
    }

    /* CONTACTO */

    .contacto__titulo {
        font-size: 30px;
    }

    .contacto__linea {
        border-top: 1.5px solid rgb(255, 162, 255);
        margin: 0 60px;
        margin-top: -25px;
    }

    .contacto__redes {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contacto__email {
        width: 100%;
        margin: 10px 0 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto__instagram {
        width: 100%;
        margin: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto__whatsapp {
        width: 100%;
        margin: 60px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto__icon {
        width: 220px;
        height: 220px;
    }

    .contacto__icon i {
        font-size: 100px;
        color: white;
        transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    }

    .contacto__info {
        width: 220px;
        height: 220px;
    }

    .contacto__info p {
        font-size: 1em;
        text-align: center;
        letter-spacing: 0.9px;
        line-height: 25px;
    }

    .contacto__info input {
        padding: 0 10px;
        font-size: 1em;
    }

    .formulario {
        margin-top: 40px;
    }

    .formulario__subtitulo {
        font-size: 25px;
    }

    .formulario__item {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .formulario__item input,
    textarea {
        width: auto;
        padding: 15px;
        margin: 5px;
    }

    .formulario__enviar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
    }

    .formulario__enviar .btn3 {
        width: auto;
        padding: 15px;
        margin: 5px;
    }

    .footer__contenedor {
        display: flex;
        flex-direction: column;
    }

    .footer__box {
        font-family: 'Poiret One', cursive;
        font-weight: 900;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer__contenido {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 30px;
        align-content: center;
    }

    .footer__contenido1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        align-content: center;
    }

    .footer__contenido .footer__logo {
        align-self: center;
    }

    .footer__contenido .footer__logo img {
        /* Logo AP */
        width: 120px;
    }

    .footer__contenido .footer__texto {
        /* Emprendimiento personal */
        font-family: 'Poiret One', cursive;
        font-weight: 900;
        font-size: 15px;
        color: dimgray;
        text-align: center;
        max-width: 80%;
        margin-top: 20px;
    }

    .footer__contenido1 h2 {
        /* Conectá Conmigo */
        font-weight: 700;
        font-family: 'Poiret One', cursive;
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 22px;
        border-bottom: 1.5px solid rgb(255, 162, 255);
        text-align: center;
    }

    .footer__box .fa-brands {
        /* Iconos Redes Sociales */
        margin-right: 10px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .footer__box .fa-envelope {
        /* Icono Email */
        margin-right: 10px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .footer__box a {
        text-decoration: none;
        color: dimgray;
        font-size: 15px;
        text-align: center;
    }

    .footer__copyright {
        max-width: auto;
        margin: auto;
        text-align: center;
        padding: 40px 0 10px 0;
    }

    .footer__copyright p {
        /* Antonela Poveda Arte - Argentina - © 2022 */
        font-family: 'Poiret One', cursive;
        margin-top: 15px;
        margin-bottom: 0;
        font-weight: 800;
        font-size: 12px;
    }

}